<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<!-- Main Content -->
<main class="container">
    <div class="jumbotron p-1">
      <h4 class="display-6"> <%= title %> > </h4>
    </div>
  </main>
<main class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-10">
            <a href="/business/add" class="btn btn-primary" role="button">
            <i class="fas fa-plus-circle"></i>  Add a Contents</a>
            <br><br>
            <table class="table table-bordered table-striped table-hover">
                <!-- header row-->
                <tr class="d-flex">                    
                    <th class="text-center col-3">Contact Name</th>
                    <th class="text-center col-2">Contact Number</th>
                    <th class="text-center col-3">Email Address</th>
                    <th class="text-center col-2"></th>
                    <th class="text-center col-2"></th>
                </tr>

                <!-- repeatable temple row-->
                <% for(let count = 0; count < ContectList.length; count++) { %>
                    <tr class="d-flex">
                        <td class="text-center col-3"><%= ContectList[count].name %></td>
                        <td class="text-center col-2"><%= ContectList[count].number %></td>
                        <td class="text-center col-3"> <%= ContectList[count].email %></td>
                        <td class="text-center col-2">
                            <a href="/business/update/<%= ContectList[count]._id %>" class="btn btn-primary btn-sm">
                            <i class="fas fa-pencil-alt"></i> Update</a>
                        </td>
                        <td class="text-center col-2">
                            <a href="/business/delete/<%= ContectList[count]._id %>" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash-alt"></i> Delete</a>
                        </td>
                    </tr>
                <% } %>
            </table>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>

        </div>
    </div>
</main>

<%- include ../partials/bottom_nav.ejs %>

<%- include ../partials/footer.ejs %>